<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Worona</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
	<div id="header">
		<img id="logo" src="assets/logo.png">
		<div id="desktop-nav">
			<ul>
				<li><a href="#">Publish</a></li>
				<li><a href="#">Extensions</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a>	</li>
			</ul>
		</div>
		<div id="mobile-nav">
			<img id="toggle" src="assets/toggle.png">
			<img id="toggle-close" src="assets/toggle-close.png">
			<ul>
				<li><a href="#">Publish</a></li>
				<li><a href="#">Extensions</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a>	</li>
			</ul>
		</div>
	</div>
	
	<div id="title">
		<h1>Turn your WordPress into an App</h1>
		<span>Check out our demo app!</span>
	</div>
	
	<div id="call-to-action">
		<img src="assets/app-store.png" alt="appstore" />
		<img src="assets/google-play.png" alt="googleplay" />
	</div>

	<div class="phones">
		<img src="assets/nexus.png" alt="nexus">
		<img src="assets/iphone.png" alt="iphone">
	</div>
</body>
</html>